{% extends "base_template.html" %}

{% block content %}
<h2>games : </h2>
<div id="top_games">
    {% for game in games %}
    <div>
        <a href="/game/{{ game.gtid }}"> {{game.name}} </a>
        <p> version : {{game.version}} </p>
        <p> gener : {{game.gener}} </p>
    </div>
    <br />
    {% endfor %}
</div>
<h2>publishers : </h2>
<div id="top_publishers">
    {% for publisher in publishers %}   
    <div>
        <a href="/publisher/{{ publisher.pid }}"> {{publisher.name}} </a>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock %}
