{% extends "base_template.html" %}

{% block content %}
<center>
    <br/>
    <p style="color:red;">
    note: password should be longther than 8 character and should contains character and numbers!
    </p>
<FORM id="signup_form" method="post" action="/signup/">
    {% csrf_token %}
    <table>
        <tr>
            <th>
                Username:
            </th>
            <th>
                <input type="text" name="username" value="" id="username" size="50" />
            </th>
        </tr>
        <tr>
            <th>
                Password:
            </th>
            <th>
                <input type="password" name="password" value="" id="password" size="50" />
            </th>
        </tr>
        <tr>
            <th>
                Name:
            </th>
            <th>
                <input type="text" name="name" id="name" size="50" />
            </th>
        </tr>
        <tr>
            <th>
                Email:
            </th>
            <th>
                <input type="text" name="email" id="email" size="50" />
            </th>
        </tr>
        <tr>
            <th>
                Phone Number:
            </th>
            <th>
                <input type="text" name="phone" id="phone" size="50"/>
            </th>
        </tr>
    </table>
    <INPUT type="submit" name="submit" value="submit" />
</FORM>
</center>
{% endblock %}
